
.clearfix-7da63 {
	clear: both
}

.board-b72b1 {
	border: 2px solid #404040;
	box-sizing: content-box
}

.square-55d63 {
	float: left;
	position: relative;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none	
}

.white-1e1d7 {
	background-color: #f0d9b5;
	color: #b58863
}

.black-3c85d {
	background-color: #b58863;
	color: #f0d9b5
}

.highlight1-32417,
.highlight2-9c5d2 {
	box-shadow: inset 0 0 3px 3px #ff0
}

.notation-322f9 {
	cursor: default;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 14px;
	position: absolute
}	

.alpha-d2270 {
	bottom: 1px;
	right: 3px
}

.numeric-fc462 {
	top: 2px;
	left: 2px
}

.container {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 54%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
}

.middlepane {
    width: 16%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
}

.rightpane {
	width: 30%;
	height: 100%;
	position: relative;
	float: right;
	background-color: white;
	border-collapse: collapse;
}

.toppane {
	width: 100%;
	height: 100px;
	border-collapse: collapse;
	background-color: white;
}

.button {
	background-color: #4CAF50; /* Green */
	border: 2px solid white;
	color: white;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	width: 145px;
	height: 50px;
}

.buttonTable {
	border: 2px solid white;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px 1px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background-color: white; 
	color: black; 
}

.button1:hover {
	  border: 2px solid #4CAF50;
	  color: green;
}

.button1:focus {
	  border: 2px solid #4CAF50;
	  color: green;
}

#stepTable th:last-child {
  visibility:hidden;
}

#fenId {
    border: 1px solid black;
	margin: 2px 1px;
	width: 380px;
	height: 35px;
}

#fenId:hover {
    border: 2px solid #4CAF50;
}

#fenId:focus {
    border: 2px solid #4CAF50;
}
